@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#carousel {
    margin: 30px auto;
    width: 50%;

}



.inicio-pag {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.inicio-pag h1 {
    font-size: 3rem;
}

.inicio-pag {
    width: 70%;
}


.inicio-pag img {
    border-radius: 40px;
}

.main-section {
    width: 80%;
    margin: auto;
}

.title-main {
    text-align: center;
    width: 90%;
    margin: auto;
}



.title {
    font-size: 38px;
}

.sub {
    font-size: 10px;
}

.title-main p {
    font-size: medium;
}

.div-session {
    display: flex;
    flex-direction: column;
}

.div-session1 {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-session1 div {
    width: 40%;
    margin: 40px 0;

    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.13);
    border-radius: 30px;
}

.div-session2 {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-session2 div {
    margin: 20px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.13);
    border-radius: 30px;
}

.div-session h3 {
    font-size: 25px;
}

footer {
    height: 140px;
    display: flex;
    flex-direction: row;
    background-color: #e9e9e9;
    box-shadow: 1px 25px 30px 1px;
    justify-content: center;
    align-items: center;
}

.mapa {
    height: 80%;
    color: rgb(0, 0, 87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

.mapa2 {
    height: 80%;
    color: rgb(0, 0, 87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

.mapa-link {
    display: flex;
    flex-direction: row;
}

.mapa-link p {
    margin-right: 10px;
    margin-left: 10px;

}

footer h3 {
    font-size: 30px;
}

footer a,
footer p {

    color: black;
    text-decoration: none;
    font-size: 15px;
}